* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(244deg, #09090a 8.5%, #131313 100%);
  color: white;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.logo{
  width: 20%;
}

.logo img{
  width: 10rem;
}

nav{
  width: 60%;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0 2rem;
}


.selected-item{
  width: 100%;
  background: linear-gradient(90deg, #0393a5 0%, #29d44e 46%, #087a88 100%);
  height: 6px;
  margin-top: 0.6rem;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

.disabled{
  color: #434447;
}

.profile-container{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 20%;
 justify-content: end;
}

.profile-container .profile-information{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.profile-container .profile-information .status-container{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 14px;
}

.profile-container .profile-information .status-container .status-icon{
  width: 16px;
  height: 16px;
  background-color: #29D44E;
  border-radius: 50%;
}

